body { font-family: sans-serif; background-color: #f4f4f4; padding: 20px; }
.header-album { background: #4392f1; color: white; padding: 20px; text-align: center; border-radius: 10px; }
.seccion-formulario { background: white; padding: 20px; margin: 20px auto; max-width: 500px; border-radius: 8px; border: 1px solid #ddd; }

/* Estilos de botones */
.btn-pegar, input[type="submit"], input[type="reset"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
.btn-pegar:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    font-size: 1.1em;
    background-color: #218838;
}

/* Campos de entrada */
input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
    width: 100%; padding: 10px; margin: 10px 0; box-sizing: border-box;
}
